
#comp1{
    background-color:#000000;
    width:50px;
    height:150px;
}

#comp1 table{
    border:solid 2px #ffffff;
    padding:5px;
}

#comp1 h1 {
    color:#E01B5D;
}

#comp1 h2 {
    color:#1BD6E0;
}

#comp1 p {
    color:#4A4D49;
    font-size:15px;
    font-style:italic;
}
#header{
    width: 500px;
    background-color: #444444;
    height:100px;
    margin:auto;
    text-align:center;
}

#header p {
    color:#ffffff;
    font-size:20px;
    font-family:Arial;
    text-transform:uppercase;
    margin:0;
    line-height:100px;
}

#mc_holder_comp1{
    float:left;
}

#sc_holder_elem{
    float:left;
}
#contacts{
    background-color:#DAE022;
    width:600px;
    height:400px;
    margin:auto;
    text-align:center;
    border:solid 2px #E02277;
}

#contacts p {
    color:#E02277;
    font-size:20px;
    font-family:Arial;
    text-transform:uppercase;
    margin:0;
    line-height:100px;
}
.elem{
    background-color:#1BB5E0;
    width:50px;
    height:50px;
    border:solid 1px #17718A;
}

.elem p {
    color:#ffffff;
    font-size:10px;
}