
#Menu{
    width: 761px;
}

#constructer-top{
    height: 31px;
    width: 139px;
    background-image: url("img/constructer-top.png");
}

#constructer-bot{
    height: 30px;
    width: 139px;
    background-image: url("img/constructer-bot.png");
}

#arrow-icon-l{
    height: 12px;
    width: 13px;
    background-image: url("img/arrow-icon-l.png");
    float: right;
    margin-right: 10px;
}

.arrow-icon-r{
    height: 12px;
    width: 13px;
    background-image: url("img/arrow-icon-r.png");
    float: left;
    margin-left: 10px;
}

.arrow-border-l{
    width: 100px;
    border-right: 1px solid #c6b38b;
    border-bottom: 1px solid #c6b38b;
}

.arrow-border-r{
    width: 100px;
    border-left: 1px solid #c6b38b;
    border-bottom: 1px solid #c6b38b;
}

.side-border-l{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #c6b38b;
    padding-right: 10px;
    padding-left: 10px;
}

.side-border-d{
    border-left: 1px solid #c6b38b;
    border-right: 1px solid #c6b38b;
    border-bottom: 1px solid #c6b38b;
    padding-right: 10px;
    padding-left: 10px;
}

.border-top{
    border-top: 1px solid #ffffff;
}

#constructer-border{
    width: 139px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

#border-transp{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.text-s{
    font-size: 10px;
    font-family: Arial;
    color: #f87c0e;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.text-b{
    font-size: 16px;
    font-family: Arial;
    color: #444444;
    text-transform: uppercase;
}

.align-l{
    text-align: left;
}

.align-r{
    text-align: right;
}
    
.active{
    border-bottom: 2px solid #f87c0e;
}

.button{
    cursor: pointer;
}
    #Footer table{
        width: 761px;
        border-right: 1px solid #f87c0e;
    }

    #striped-footer{
        background-image: url("img/stripes.png");
        width: 761px;
        height: 7px;
    }

    #Footer .h-lineLight{
        width: 761px;
    }

    #Footer .h-lineDark{
        width: 761px;
    }

    .side-borders{
        height: 31px;
        border-right: 1px solid #c6b38b;
        border-left: 1px solid #ffffff;
    }

    .left-border{
        border-right: 1px solid #c6b38b;
    }

    #sbs{
        width: 31px;
        box-shadow:inset 0 0 10px #c6b38b;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
    }

    #sbs:hover{
        box-shadow:inset 0 0 10px #808180;
    }

    #sbs-art img{
        width: 31px;
        height: 31px;
    }

    #mini-logo{
        padding-left: 10px;
        padding-top: 4px;
    }

    #mini-logo img{
        width: 65px;
        height: 25px;
        float: left;
    }

    #slogan{
        font-size: 10px;
        font-family: Arial;
        text-transform: uppercase;
        color: #444444;
        float: left;
        padding: 8px;
    }

    .support img{
        width: 70px;
        height: 25px;
    }

    .support{
        text-align: center;
        width: 100px;
        cursor: pointer;
    }
body{
    margin: 0;
    padding: 0;
    background-image: url("img/bg-o.jpg");
    text-shadow: 0px 0px 1px #444444;
}

#mainContainer{
    margin: auto;
    width: 950px;
}

#mainTable{
    height: 100%;
}

.v-lineLight{
    width: 1px;
    background-color: #ffffff;
}

.v-lineDark{
    width: 1px;
    background-color: #c6b38b;
}

.line-stripes{
    width: 7px;
    background-image: url("img/stripes.png");
}

.v-space{
    width: 2px;
}

#content{
    width: 750px;
    background-image: url("img/bg-i.jpg");
    padding-left: 75px;
    padding-right: 75px;
    vertical-align: top;
}

.h-lineLight{
    height: 1px;
    background-color: #ffffff;
}

.h-lineDark{
    height: 1px;
    background-color: #c6b38b;
}

.email{
    text-align: right;
    font-size: 12px;
    font-family: Arial;
    font-style: italic;
    color: #444444;
}

.mail-icon{
    height: 27px;
    width: 29px;
    background-image: url("img/mail-icon.png");
    margin: auto;
}

.name{
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    font-style: italic;
    color: #444444;
    text-transform: uppercase;
}

.phone-icon{
    height: 28px;
    width: 29px;
    background-image: url("img/phone-icon.png");
    margin: auto;
}

.phone{
    text-align: left;
    font-size: 12px;
    font-family: Arial;
    font-style: italic;
    color: #444444;
    margin-right: 20px;
}

#shadow-top{
    height: 28px;
    width: 761px;
    background-image: url("img/shadow-top.png");
    margin: auto;
}

#logo{
    height: 63px;
    width: 156px;
    background-image: url("img/logo.png");
    margin: auto;
}

#logo-slogan{
    text-align: center;
    font-size: 10px;
    font-family: Arial;
    color: #444444;
    margin: auto;
}

#shadow-bot{
    height: 28px;
    width: 761px;
    background-image: url("img/shadow-bot.png");
    margin: auto;
}

.h-space{
    height: 5px;
}

#AboutUs{
    width: 761px;
    margin: 0 auto;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-content{
    font-family: Arial;
    font-size: 12px;
    color: #444444;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

.lines .h-lineLight{
    width: 610px;
    height: 1px;
    background-color: #ffffff;
}

.lines .h-lineDark{
    width: 610px;
    height: 1px;
    background-color: #c6b38b;
}

#ww-icon{
    padding-left: 30px;
    padding-right: 70px;
}

#ww-icon img{
    height: 34px;
    width: 40px;
}

.title {
    text-transform: uppercase;
    font-family: Arial;
    font-size: 14px;
    color: #f87c0e;
    float: left;
}

#AboutUs .arrow-icon-r{
    margin-left: 350px;
    margin-right: 5px;
}


    #ContactUs{
        text-align: center;
        margin: auto;
        margin-bottom: 41px;
        margin-top: 10px;
    }

    #ContactUs textarea{
        width: 350px;
        height: 200px;
        font-family: arial;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: #f87c0e;
        border: 1px solid #ffffff;
        outline: #c6b38b solid 1px;
        background-color: transparent;
        resize: none;
        margin-top: 10px;
    }

    .data{
        width: 250px;
        height: 40px;
        font-family: arial;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: #444444;
        border: 1px solid #c6b38b;
        outline: #ffffff solid 1px;
        background-color: transparent;
        margin-top: 10px;
    }

    .submit{
        width: 250px;
        height: 40px;
        font-family: arial;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #ffffff;
        outline: #c6b38b solid 1px;
        background-color: #f87c0e;
        margin-top: 10px;
        cursor: pointer;
    }

    .submit:hover{
        color: #f87c0e;
        border: 1px solid #ffffff;
        outline: #c6b38b solid 1px;
        background-color: #cccccc;
        cursor: pointer;
    }

    .h-lineDark{
        height: 1px;
        background-color: #c6b38b;
    }

    .h-lineLight{
        height: 1px;
        background-color: #ffffff;
    }

    .success{
        width: 350px;
        text-align: center;
        font-size: 9px;
        color: #ffffff;
        text-transform: uppercase;
        background-color: #a3cdaf;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #c6b38b;
        display: none;
    }

    .error{
        width: 550px;
        text-align: center;
        font-size: 9px;
        color: #ffffff;
        text-transform: uppercase;
        background-color: #ffa191;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #c6b38b;
        display: none;
    }
    
    .contacts-text{
        margin-right: 30px;
    }
    
    .contacts-title{
        text-transform: uppercase;
        font-family: Arial;
        font-size: 14px;
        color: #f87c0e;
    }
    
    .contacts-text .text{
        font-style: italic;
        font-size: 11px;
        font-family: Arial;
        color: #444444;
    }
    
    
#Gallery{
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: inline-block;
}

#Gallery table{
    text-align: center;
}

#arrow-l{
    width: 35px;
    height: 34px;
    background-image: url("img/arrow-l.png");
    cursor: pointer;
    float: right;
    margin-right: 30px;
}

#arrow-r{
    width: 35px;
    height: 34px;
    background-image: url("img/arrow-r.png");
    cursor: pointer;
    float: left;
    margin-left: 30px;
}

.mini-photo{
    border: 1px solid #ffffff;
    outline: #c6b38b solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    width: 100px;
    height: 70px;
}

.mini-photo img{
    width: 100px;
    height: 70px;
    cursor: pointer;
}

#photo{
    margin: auto;
    margin-top: 10px;
    border: 1px solid #ffffff;
    outline: #c6b38b solid 1px;
}

#photo img{
    cursor: pointer;
    width: 759px;
}

#mini{
    width: 561px;
    overflow: hidden;
    text-align: center;
}

#mini-container{
    padding-top: 5px;
    height: 80px;
    overflow: hidden;
}

#comment{
    font-size: 12px;
    font-family: Arial;
    font-style: italic;
    color: #444444;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.h-lineDark{
    height: 1px;
    background-color: #c6b38b;
}

.h-lineLight{
    height: 1px;
    background-color: #ffffff;
}

#Gallery .arrow-icon-r{
    margin-left: 350px;
    margin-right: 5px;
}
    #striped-header{
        background-image: url("img/stripes.png");
        padding-top: 7px;
        padding-bottom: 7px;
        overflow: hidden;
        width: 761px;
    }

    #striped-header .photo{
        position: relative;
        margin-left: 7px;
        border: 1px solid #ffffff;
        width: 242px;
        float: left;
        cursor: pointer;
        background-size:242px 200px;
        background-repeat:no-repeat;
    }

    .photo img{
        display:block;
        width: 242px;
        height: 200px;
        box-shadow:inset 0 0 10px #000000;
    }

    .shadow{
        display:block;
        position:relative;
    }

    .shadow::before{
        display:block;
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        -moz-box-shadow:inset 0px 0px 3px 3px rgba(0,0,0,0.2);
        -webkit-box-shadow:inset 0px 0px 3px 3px rgba(0,0,0,0.2);
        box-shadow:inset 0px 0px 3px 3px rgba(0,0,0,0.2);
    }

    .brush-gray-l{
        height: 29px;
        width: 242px;
        background-image: url("img/brush-gray-l.png");
        position: absolute;
        top: 0;
    }

    .brush-gray-l p{
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        font-size: 14px;
        margin-top: 4px;
        margin-right: 5px;
    }

    .brush-gray-r{
        height: 29px;
        width: 242px;
        background-image: url("img/brush-gray-r.png");
        position: absolute;
        top: 0;
    }

    .brush-gray-r p{
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        font-size: 14px;
        margin-top: 4px;
        margin-left: 5px;
    }

    .brush-orange{
        position: absolute;
        bottom: 0;
        height: 29px;
        width: 242px;
        background-image: url("img/brush-orange.png");
    }

    .brush-orange p{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        font-size: 14px;
        margin-top: 9px;
    }