
#Albums{
    width: 946px;
    height: 800px;
}

.bubble {
    background: url('img/bubble.png') no-repeat center;
    width: 36px;
    height: 36px;
    background-color: #a40a00;
}

.Album {
    width: 270px;
    float: left;
    padding-left: 45px;
}

.Album .yline {
    min-height: 36px;
}

.album-bg{
    background: url('img/yline.jpg') repeat-y;
    background-position: 179px 0px;
}

    /*.Album tr:first-child +tr +tr td div {
        height: 36px;
    }*/

.bubble div{
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding-top: 9px;
}

.Text-container {
    background:url('img/yline.jpg') repeat-y center;
    z-index: 1;
}

.small-photos {
    color: #C0C0C0;
    background-color: #ffffff;
    outline: #ffffff solid thin;
    border: #c5c5c5 solid 1px;
    -moz-box-shadow:    0px 0px 25px 1px #B6B6B6;
    -webkit-box-shadow: 0px 0px 25px 1px #B6B6B6;
    box-shadow:         0px 0px 25px 1px #B6B6B6;
    position: relative;
    margin: 15px;
    margin-bottom: -15px;

}

.small-photos img {
    margin-top: -70px;
    left: 0px;
    width: 233px;
    max-height: 200px;
    border: #ffffff solid 2px;
}

.small-photos img:first-child {
    margin:0px;
    width: 233px;
    border: #ffffff solid 2px;
}

.Text {
    background:url('img/text-bg.png') no-repeat center bottom #fbfbfb;
    outline: #ffffff solid thin;
    border: #c5c5c5 solid 1px;
    border-bottom: none;
    text-align: right;
    padding: 8px;
    padding-top: 20px;
}

.Text tr:first-child +tr +tr +tr td {
    text-align: left;
}

.description{
    overflow: hidden;
    width: 250px;
}

.bot-yline{
    min-height: 20px;
    background: url('img/yline.jpg');
    width: 2px;
}

.albums-arrow {
    background:url('img/albums-arrow.png');
    width: 191px;
    height: 24px;
    background-color: #a40a00;
}

.half-bubble {
    background:url('img/half-bubble.png');
    width: 36px;
    height: 49px;
    position: relative;
}

.bubble-arrow-top {
    background:url('img/bubble-arrow-top.png');
    width: 25px;
    height: 15px;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

.bubble-arrow-bot {
    background:url('img/bubble-arrow-bot.png');
    width: 25px;
    height: 15px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

.half-bubble div:hover {
    cursor: pointer;
}

.bubble-arrows {
    width: 25px;
    float: right;
    margin-right: -41px;
}


    #Index{
        margin: auto;
        margin-left: 170px;
        width: 75%;
    }

    .menu-container {
        position: fixed;
        left: 0;
    }
    
    *{
        font-family: arial;
        padding: 0;
        margin: 0;
    }

    div::selection, img::selection, td::selection, li::selection{
        background: #a40a00;
    }

    .t-left{text-align: left;}

    .t-center{text-align: center;}

    .t-right{text-align: right;}

    .t-upper{text-transform: uppercase;}

    .t-s{font-size: 10px;}

    .t-m{font-size: 12px;}

    .t-b{font-size: 16px;}

    .t-under{text-decoration:underline;}

    #detector{
        height: 100%;
        width: 0px;
        position: absolute;
    }

    .main{
        display: block;
    }

    .full{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
    }

    .center{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .sep{
        max-height: 1px;
        height: 1px;
        border-bottom: dotted 2px #307054;
    }

    .tip{
        color: #7a7a7a;
        padding-right: 5px;
    }

    .des{
        text-shadow: 1px 1px #010101;
        text-transform: uppercase;
        font-size: 10px;
        color: #6b8fc9;
    }

    .red{
        color: #b06d68;
    }

    .grey{
        background-color: #aeaeae;
    }

    .pointer{
        cursor: pointer;
    }

    .stripes{
        height: 14px;
        background: url('img/stripes.png');
    }

    .line{
        border-top: solid 1px #aeaeae;
    }

body {
    font-family: arial;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    background: url('img/page-bg.jpg');
}
    /*----------COLORS----------*/
.main-color {
    color: #a40a00;
}

.light-color{
    color: #aeaeae;
}

.dark-color{
    color: #656565;
}

    /*----------TEXT----------*/
.small-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.mid-text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 15px;
}

.big-text {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: -2px;
    line-height: 22px;
    text-align: right;
    padding-left: 15px;
}

.lowercase-text {
    text-transform: lowercase;
}

.italic {
    font-style: italic;
}

.text-shadow {
    text-shadow: #aeaeae 0px 0px 1px;
}


#page table:first-child {
    margin-left: 170px;
}

.container {
    background: url('img/page-bg.jpg');
}

.space {
    background-color: #d1d1d1;
    opacity: 0.2;
    height: 80px;
}

.yline {
    background: url('img/yline.jpg');
    width: 2px;
}

.xline {
    background: url('img/xline.jpg');
    height: 2px;
}

.bap{
    min-width: 2px;
    background: url('img/yline.jpg');
}


.Gallery {
    padding: 50px;
}

.Gallery table tr:first-child td {
    text-align: left;
}

.Gallery table tr:first-child td +td {
    text-align: right;
    vertical-align: bottom;
}

.Gallery table tr:first-child td +td +td +td {
    text-align: left;
    vertical-align: bottom;
}

.gallery-arrow {
    background-image:url('img/gallery-arrow.png');
    height: 24px;
    background-color: #a40a00;
}

.big-photos{
    padding-top: 20px;
}

.big-photos img{
    background: #ffffff;
    padding: 2px;
    max-width: 870px;
    min-width: 870px;
    border: #C5C5C5 solid 1px;
    outline: #ffffff solid thin;
    margin: 5px;
}

p{
   margin-bottom: 2px;
}
